<nav class="fixed left-0 right-0 top-0 z-50 border-b border-gray-200 bg-white px-4 py-2.5 dark:border-gray-700 dark:bg-gray-950">
    <div class="flex flex-wrap items-center justify-between">
        <div class="flex items-center justify-start">
            <button
                aria-controls="drawer-navigation"
                class="dark:hover: mr-2 cursor-pointer rounded-lg p-2 text-gray-600 hover:bg-gray-100 hover:text-gray-900 focus:bg-gray-100 focus:ring-2 focus:ring-gray-100 dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:bg-gray-700 dark:focus:ring-gray-700 md:hidden"
                data-drawer-target="drawer-navigation"
                data-drawer-toggle="drawer-navigation">
                <fa-icon [icon]="faBars"></fa-icon>
                <span class="sr-only">Toggle sidebar</span>
            </button>
            <div class="mr-4 flex items-center justify-between">
                <fa-icon class="dark:" [icon]="faDiceD20" size="xl"></fa-icon>
                <span class="self-center whitespace-nowrap pl-2 text-2xl font-semibold">Tipis P&P Tools</span>
            </div>
        </div>
        <div class="flex items-center">
            <pap-edit-mode />
            <pap-dark-light-mode class="ml-2" />
        </div>
    </div>
</nav>
