<pap-h1
    >{{ character().name }}
    <pap-secondary-h1>{{ character().age }}, {{ character().gender }}, {{ character().nation }} , {{ character().religion }} </pap-secondary-h1>
</pap-h1>

<form [formGroup]="formGroup">
    <section class="flex flex-col xl:flex-row xl:space-x-4">
        <div class="flex w-full xl:w-2/5">
            <pap-content-group class="flex-1" formGroupName="main" title="Main Stats">
                <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="strength" label="Stärke" />
                <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="agility" label="Beweglichkeit" />
                <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="stamina" label="Ausdauer" />
                <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="magic" label="Magie" />
                <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="spirit" label="Geist" />
                <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="intelligence" label="Intelligenz" />
            </pap-content-group>
        </div>

        <div class="mt-4 w-full xl:mt-0 xl:w-3/5">
            <pap-content-group class="flex-1" formGroupName="value" title="Werte Tabelle">
                <div
                    [class.flex-col]="editModeStore.isEnabled()"
                    [class.space-x-4]="!editModeStore.isEnabled()"
                    [class.space-y-2]="editModeStore.isEnabled()"
                    class="flex ">
                    <div class="flex-1 space-y-2">
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="life" label="Leben" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="power" label="Kraft" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="energy" label="Energie" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="strike" label="Treffen" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="perception" label="Wahrnehmung" />
                    </div>
                    <div class="flex-1 space-y-2">
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="magicDefense" label="Magieabwehr" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="magicTolerance" label="Magietoleranz" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="magicControl" label="Magielenkung" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="mana" label="Mana" />
                        <pap-character-statistic
                            [allowEdit]="editModeStore.isEnabled()"
                            formControlName="manaRegeneration"
                            label="Manaregeneration" />
                    </div>
                    <div class="flex-1 space-y-2">
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="reaction" label="Reaktion" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="cover" label="Warnung" />
                        <pap-character-statistic [allowEdit]="editModeStore.isEnabled()" formControlName="authority" label="Kontrolle" />
                    </div>
                </div>
            </pap-content-group>
        </div>
    </section>
</form>
