<button
    [disabled]="disabled"
    class="w-full rounded-lg border border-transparent bg-blue-700 px-5 py-2.5 text-center text-sm font-medium text-white
    hover:bg-blue-800
    focus:outline-none focus:ring-4 focus:ring-blue-300
    disabled:cursor-not-allowed disabled:border-gray-200 disabled:bg-white disabled:text-gray-400
    dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800
    disabled:dark:border-red-400 disabled:dark:bg-gray-800 sm:w-auto"
    type="submit">
    <ng-content></ng-content>
</button>
