<pap-content-group [footer]="footer()" [formGroup]="formGroup()" title="Main Stats">
    <pap-character-statistic [allowEdit]="allowEdit()" [remainingPoints]="remainingPoints()" formControlName="strength" label="Stärke" />
    <pap-character-statistic [allowEdit]="allowEdit()" [remainingPoints]="remainingPoints()" formControlName="agility" label="Beweglichkeit" />
    <pap-character-statistic [allowEdit]="allowEdit()" [remainingPoints]="remainingPoints()" formControlName="stamina" label="Ausdauer" />
    <pap-character-statistic [allowEdit]="allowEdit()" [remainingPoints]="remainingPoints()" formControlName="magic" label="Magie" />
    <pap-character-statistic [allowEdit]="allowEdit()" [remainingPoints]="remainingPoints()" formControlName="spirit" label="Geist" />
    <pap-character-statistic [allowEdit]="allowEdit()" [remainingPoints]="remainingPoints()" formControlName="intelligence" label="Intelligenz" />
</pap-content-group>
