<aside
    class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full border-r border-gray-200 bg-white pt-10 transition-transform dark:border-gray-700 dark:bg-gray-800 md:translate-x-0"
    aria-label="Sidenav"
    id="drawer-navigation"
    aria-hidden="true">
    <div class="flex h-full flex-col overflow-y-auto bg-white px-3 py-5 dark:bg-gray-800">
        <ul class="space-y-2">
            <li>
                <pap-sidebar-item [icon]="faDiceD6" [link]="['/dice']">Würfeln</pap-sidebar-item>
            </li>
        </ul>

        <div class="mt-auto flex flex-col text-center">
            <div>
                <a href="https://github.com/boundfoxstudios/tipis-pap-tools" target="_blank">
                    <fa-icon [icon]="faGithub" />

                    @if (versionSignal(); as version) {
                        {{ version.version }}

                        @if (version.sha) {
                            <span class="text-xs font-extralight text-gray-400">{{ version.sha }}</span>
                        }
                    }
                </a>
            </div>
            <div class="mt-1 text-xs font-extralight text-gray-400">
                With
                <fa-icon [icon]="faHeart" class="text-red-600" />
                by Boundfox Studios
            </div>
        </div>
    </div>
</aside>
