<aside
    aria-hidden="true"
    aria-label="Sidenav"
    class="fixed left-0 top-0 z-40 h-screen w-64 -translate-x-full border-r border-gray-200 bg-white pt-10 transition-transform dark:border-gray-700 dark:bg-gray-950 md:translate-x-0"
    id="drawer-navigation">
    <div class="flex h-full flex-col overflow-y-auto bg-white px-3 py-5 dark:bg-gray-950">
        <div class="space-y-2">
            <pap-sidebar-item-group [icon]="faDragon" label="Charakter">
                <pap-sidebar-item [icon]="faDashboard" [link]="['/characters', currentCharacterIdOrDefault() ,'dashboard']"
                    >Dashboard</pap-sidebar-item
                >
            </pap-sidebar-item-group>
        </div>
        <div class="space-y-2">
            <pap-sidebar-item-group [icon]="faTools" label="Werkzeuge">
                <pap-sidebar-item [icon]="faDiceD6" [link]="['/tools/dice']">Würfeln</pap-sidebar-item>
            </pap-sidebar-item-group>
        </div>
        <div class="space-y-2">
            <pap-sidebar-item-group [icon]="faGears" label="Einstellungen">
                <pap-sidebar-item [icon]="faArrowRotateBackward" [link]="['/settings/backup-restore']">Backup </pap-sidebar-item>
            </pap-sidebar-item-group>
        </div>

        <div class="mt-auto flex flex-col pt-2 text-center">
            @if (charactersStore.count() && currentCharacter()) {
                <hr class="my-4 h-px border-0 bg-gray-200 dark:bg-gray-700" />
                <pap-character-switcher
                    [currentCharacter]="currentCharacter()!"
                    [characters]="charactersStore.entities()"
                    (characterSelected)="switchCharacter($event)" />
            }
            <hr class="my-4 h-px border-0 bg-gray-200 dark:bg-gray-700" />
            <div>
                <a href="https://github.com/boundfoxstudios/tipis-pap-tools" target="_blank">
                    <fa-icon [icon]="faGithub" />

                    @if (versionSignal(); as version) {
                        {{ version.version }}

                        @if (version.sha) {
                            <span class="text-xs font-extralight text-gray-400">{{ version.sha.substring(0, 8) }}</span>
                        }
                    }
                </a>
            </div>
            <div class="mb-4 mt-1 text-xs font-extralight text-gray-400">
                With
                <fa-icon [icon]="faHeart" class="text-red-600" />
                by Boundfox Studios
            </div>
        </div>
    </div>
</aside>
