<pap-h1>Neuen Charakter erstellen</pap-h1>

<form (ngSubmit)="submit()" [formGroup]="formGroup" class="space-y-4">
    <pap-text-input [autofocus]="true" [control]="formGroup.controls['name']" autoComplete="nickname" class="block" label="Name" />
    <pap-text-input [control]="formGroup.controls['age']" [min]="0" class="block" label="Alter" valueType="number" />
    <pap-text-input [control]="formGroup.controls['gender']" class="block" label="Geschlecht" />
    <pap-text-input [control]="formGroup.controls['nation']" class="block" label="Volk" />
    <pap-text-input [control]="formGroup.controls['religion']" class="block" label="Religion" />
    <pap-text-input [control]="formGroup.controls['group']" class="block" label="Spielrunde" />

    <pap-character-statistics
        class="mt-4"
        [mainAllowEdit]="true"
        [mainFormGroup]="formGroup.controls['main']"
        [pointsToDistribute]="200"
        [valueFormGroup]="formGroup.controls['value']"
        [valueAllowEdit]="true" />

    <pap-button type="submit" [disabled]="formGroup.invalid" class="mt-4">Charakter erstellen</pap-button>
</form>
